@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    

}

.background-image-vivo{
    background-image: url('/public/images/imagem.png');
    background-clip: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    width: auto;
}

@media (max-width: 1920px){
    .background-image-vivo{
        background-size: cover;
    }
}

@media (max-width: 1000px){
    .background-image-vivo{
        background-image: none;
        background: linear-gradient(135deg, #4B006E 0%,#83006A 100%); 
    }
}