@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    

}

.background-image-vivo{
    background-image: url('/public/images/imagem.png');
    background-clip: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    width: auto;
}

.background-image-vivinho {
    background-image: url('/public/images/vivinho-background.png');
    background-clip: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    width: auto;

}

.hide-scrollbar{
    scrollbar-width: none;
    overflow: auto;
    
}
@media (max-width: 1920px){
    .background-image-vivo{
        background-size: cover;
    }
    .background-image-vivinho{
        display: none;
    }
}

@media (max-width: 1000px){
    .background-image-vivinho{
        display: block;
        
    }
}
  

 /* CSS para transições de opacidade */
.opacity-100 {
    opacity: 1;
  }
  .opacity-0 {
    opacity: 0;
  }
  
  /* Classe para as imagens do slideshow */
  .slideshow-content img {
    transition: opacity 3s ease-in-out;
  }
  
  /* Estilo para o contêiner do slide */
  .slide-wrapper {
    transition: opacity 3s ease-in-out; /* Adiciona transição suave */
  }
  
  @keyframes borderGradient {
    0% {
      border-color: #800080; /* Purple */
    }
    25% {
      border-color: #ff69b4; /* Hot Pink */
    }
    50% {
      border-color: #8a2be2; /* Blue Violet */
    }
    75% {
      border-color: #ff00ff; /* Magenta */
    }
    100% {
      border-color: #800080; /* Purple */
    }
  }
  
  .animate-border-gradient {
    border-width: 4px;
    border-style: solid;
    animation: borderGradient 5s infinite linear;
    border-radius: 15px; /* Para manter o efeito arredondado */
  }
  